.vscode
.DS_Store
quarto/_*
01/
02/
03/
04/
07/
07_intro_numpy_slides.html
08/
09/
10/
11/
README.md
clear_solutions.py
copy_slides_to_folders.py
copy_to_quarto.sh*
copy_to_quarto_with_links.sh*
exercises_numpy.ipynb
quarto/
todo.md
