.vscode
.DS_Store
.virtual_documents/
quarto/_*
*/*_solutions_demonstrator*
# 01/
# 01/week_01_solutions.ipynb
# 02/
02/week_02_solutions.ipynb
03/
03/week_03_solutions.ipynb
04/
04/week_04_solutions.ipynb
05/
05/week_05_solutions.ipynb
07/
07_intro_numpy_slides.html
08/
09/
10/
11/
README.md
clear_solutions.py
copy_slides_to_folders.py
copy_to_quarto.sh*
copy_to_quarto_with_links.sh*
exercises_numpy.ipynb
quarto/
todo.md
.ipynb_checkpoints/
.python-version
